@model UltimateGreetingCards.Persistence.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "الصفحة الرئسية";
}

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h5 class="content-header-title float-left pr-1 mb-0">اين انت :</h5>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a><i class="bx bx-home-alt"></i></a>
                                </li>

                                <li class="breadcrumb-item active">
                                    الصفحة الرئيسية
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Description -->
            <section id="description" class="card">
                <div class="card-header">
                    <h4 class="card-title">
                    </h4>
                </div>
                <div class="card-content">
                    <div class="card-body">




                        <div class="row">
                            <div class="col-xl-2 col-md-4 col-sm-6">
                                <div class="card text-center">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="badge-circle badge-circle-lg badge-circle-light-info mx-auto my-1">
                                                <i class="fa fa-building font-medium-5"></i>
                                            </div>
                                            <p class="text-muted mb-0 line-ellipsis">قسم</p>
                                            <h2 class="mb-0">@Model.CategoriesCount</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-md-4 col-sm-6">
                                <div class="card text-center">
                                    <div class="card-content">
                                        <div class="card-body">
                                            <div class="badge-circle badge-circle-lg badge-circle-light-warning mx-auto my-1">
                                                <i class="fa fa-pie-chart font-medium-5"></i>
                                            </div>
                                            <p class="text-muted mb-0 line-ellipsis">كارت</p>
                                            <h2 class="mb-0">@Model.CardsCount</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
          

                        </div>



                    </div>
                </div>
            </section>
            <!--/ Description -->


        </div>
    </div>
</div>
<!-- END: Content-->
