@model UltimateGreetingCards.Persistence.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "تغيير الرقم السرى";
}

!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-12 mb-2 mt-1">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h5 class="content-header-title float-left pr-1 mb-0">اين انت :</h5>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb p-0 mb-0">
                                <li class="breadcrumb-item">
                                    <a href=""><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a>ادارة الحساب</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    تغيير الرقم السرى
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <!-- Description -->
            <section id="description" class="card">
                <div class="card-header">
                    <h4 class="card-title">
                    </h4>
                </div>
                <div class="card-content">
                    <div class="card-body">



                        <form asp-controller="Account" asp-action="ChangePassword" method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label asp-for="CurrentPassword"></label>
                                            <input class="form-control" asp-for="CurrentPassword" placeholder="الرقم السرى الحالى">
                                            <div class="help-block"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label asp-for="NewPassword"></label>
                                            <input class="form-control" asp-for="NewPassword" placeholder="الرقم السرى الجديد">
                                            <div class="help-block"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <div class="controls">
                                            <label asp-for="ConfirmPassword"></label>
                                            <input class="form-control" asp-for="ConfirmPassword" placeholder="تأكيد الرقم السرى الجديد">
                                            <div class="help-block"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 d-flex flex-sm-row flex-column justify-content-end">
                                    <button type="submit" class="btn btn-primary glow mr-sm-1 mb-1">
                                        تعديل الرقم السرى
                                    </button>

                                </div>
                                <div class="text-danger" asp-validation-summary="All"></div>
                            </div>
                        </form>





                    </div>
                </div>
            </section>
            <!--/ Description -->


        </div>
    </div>
</div>
<!-- END: Content-->
